<nav class="navbar nav-expand-lag navbark-dark bg-primary">
  <a href="" class="navbar-brand" [routerLink]="['/']"
    ><img src="../../../assets/img.png" width="30" heigh="30" alt="" />GitHub
    Finder App</a
  >
  <div class="navbar-collapse">
    <div class="navbar-nav ml-auto">
      <div *ngIf="email" class="navbar-text float-left">{{ email }}</div>
      <a class="nav-item nav-link" [routerLink]="['/']">Home</a>
      <a
        *ngIf="!email"
        routerLinkActive="active"
        class="nav-item nav-link"
        [routerLink]="['/signin']"
        >Signin</a
      >
      <a
        *ngIf="!email"
        routerLinkActive="active"
        class="nav-item nav-link"
        [routerLink]="['/signup']"
        >Signup</a
      >
      <a *ngIf="email" class="nav-item nav-link" (click)="handleSignOut()"
        >LogOut</a
      >
    </div>
  </div>
</nav>
